useDynLib(metaprediction, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(PredDist)
export(remaeffect)

S3method(plot, metaprediction)
S3method(print, metaprediction)
S3method(summary, metaprediction)
S3method(print, summary.metaprediction)
S3method(conf, metaprediction)

export(plot.metaprediction)
export(conf)


