useDynLib(edgemeta, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(PredDist)
export(remaeffect)
export(crps)
export(cdtau2)

S3method(plot, edgemeta)
S3method(print, edgemeta)
S3method(conf, edgemeta)

S3method(print, remaeffect)

export(plot.edgemeta)
export(conf)


